<div id="background-image"></div>

<div id="home-container">
  <div class="hero-mask">
    <div class="ncgg-title">North Coast Gaming Guild</div>
    <div class="event-date">November 3, 2018</div>
    <div>
      <button (click)="registerClick()" class="register-button">Register</button>
    </div>
    <div class="cta-down">
      <img class="chevron-down" src="../../assets/svg/chevron-left.svg">
    </div>
  </div>
</div>

<div id="mission-statement" inViewport (inViewportAction)="missionIntoView($event)">
    <div class="label">OUR MISSION IS SIMPLE...</div>
    <div class="title"><div>DO GOOD WHILE GAMING</div></div>
</div>