@import '~assets/sass/variables';

#background-image {
  background: url('/assets/images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: calc(100vh - 45px);
  position: fixed;
}

@import "hero-section.scss";
@import "mission-statement.scss";
@import "join-us.scss";