@import '~assets/sass/variables';

#background-image {
  background: url('/assets/images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: calc(100vh - 45px);
  position: fixed;
}

#site {
  display: flex;
  flex-direction: column;

  z-index: 2;
  transition: background 1s;
  background: rgba(0, 0, 0, 1);
  position: relative;

  &.is-ready {
    background: rgba(0, 0, 0, 0.6);
  }
}

@import "hero-section.scss";
@import "mission-statement.scss";
@import "join-us.scss";
@import "about-us.scss";