<div id="background-image"></div>

<div id="site">
    <div id="home-container">
        <div class="hero-mask">
          <div class="ncgg-title">North Coast Gaming Guild</div>
          <div class="event-date">November 3, 2018</div>
          <div>
            <button (click)="registerClick()" class="register-button">Register</button>
          </div>
          <div class="cta-down">
            <img class="chevron-down" src="../../assets/svg/chevron-left.svg">
          </div>
        </div>
      </div>
      
      <div id="mission-statement" inViewport (inViewportAction)="applyScrollView($event)">
        <div class="label">OUR MISSION IS SIMPLE...</div>
        <div class="title">
          <div>DO GOOD WHILE GAMING</div>
        </div>
      </div>
      
      <div id="join-us" inViewport (inViewportAction)="applyScrollView($event)">
        <div class="header">So what can I do?</div>
        <div class="actions">
          <div class="action-item-container">
            <div class="join action-item">
              <img src="../../assets/svg/user-circle.svg">
      
              <div class="action-header">Join the Team</div>
      
              <div class="action-content">
                <div class="content-header">Objectives:</div>
                <div class="content-text">Raise money to help save childrens' lives!</div>
      
                <div class="content-header">Rewards:</div>
                <div class="content-text">
                  <div>
                    <b>XP:</b> 40,000,000</div>
                  <div>
                    <b>Modes Unlocked:</b> Computer, console, and tabletop games available for play!</div>
                  <div>
                    <b>Dungeon Unlocked:</b> Top 10 fundraisers get a tour of the hospital</div>
                  <div>
                    <b>Party Invite:</b> Top 50 fundraisers get invited to an exclusive party at Tabletop Board Game Cafe on November
                    3rd</div>
                  <div>
                    <b>Items Acquired:</b> Snacks and prizes provided</div>
                </div>
              </div>
      
              <div class="cta-button">
                <button (click)="ctaClick('join')">Accept the Challenge</button>
              </div>
            </div>
          </div>
          <div class="action-item-container">
            <div class="donate action-item">
              <img src="../../assets/svg/money.svg">
      
              <div class="action-header">Sponsor</div>
      
              <div class="action-content sponsor-container">
                <div *ngFor="let sponsor of platinumSponsors">
                  <sponsor-tile [name]="sponsor.name" [label]="sponsor.label" [link]="sponsor.link"></sponsor-tile>
                </div>
              </div>
              <div class="action-content sponsor-container">
                <div *ngFor="let sponsor of sponsors">
                  <sponsor-tile [name]="sponsor.name" [label]="sponsor.label" [link]="sponsor.link"></sponsor-tile>
                </div>
              </div>
      
              <div class="cta-button">
                <button class="sponsor-button" (click)="ctaClick('sponsor')">Become a Sponsor</button>
              </div>
            </div>
          </div>
          <div class="action-item-container">
            <div class="volunteer action-item">
              <img src="../../assets/svg/star.svg">
      
              <div class="action-header">Volunteer</div>
      
              <div class="action-content">
                <div class="content-header">Help Wanted!</div>
                <div class="content-text">Do you want to help us change the world? We're looking for the following roles!</div>
                <div class="content-text">
                  <ul>
                    <li>Dungeon Masters</li>
                    <li>Game Masters</li>
                    <li>Logistics/flow Coordinator</li>
                    <li>Guardians (General Staff)</li>
                  </ul>
                </div>
              </div>
      
              <div class="cta-button">
                <button (click)="ctaClick('volunteer')">Make a Difference</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="about-us" inViewport (inViewportAction)="applyScrollView($event)">
        <div class="label">The Faces Behind the Names</div>

        <div id="members-thumbnail-container">
          <div [id]="member.id + '-thumbnail'" class="member" *ngFor="let member of members">
            <div class="member-tile">
                <img class="member-thumbnail" [src]="getThumbnailPath(member.id)" (click)="memberClick(member)">
                <div class="member-name">{{ member.name }}</div>
            </div>
          </div>
        </div>

        <div id="member-info" *ngIf="showMemberInfo">
          <div id="close-member" (click)="closeMember()"><img src="../../assets/svg/close.svg"></div>
          <div class="info-text"><span class="title">Name: </span>{{ selectedName }}</div>
          <div class="info-text"><span class="title">Hometown: </span>{{ selectedHometown }}</div>
          <div class="info-text"><span class="title">Favorite Hobbies: </span>{{ selectedHobbies }}</div>
          <div class="info-text"><span class="title">Favorite Games: </span>{{ selectedGames }}</div>
        </div>
      </div>
</div>