@import '~assets/sass/variables';

#join-us {
    //position: absolute;
    width: 100vw;

    .header {
        color: white;
        font-family: headline;
        text-align: center;
        font-size: 4.5vh;
        letter-spacing: 1px;
        padding: 15px;

        opacity: 0;
        transform: translateY(-2.5vh);
        transition: all 0.6s 0.4s;
    }

    .actions {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
        justify-content: center;

        .action-item-container {
            width:25%;
            min-width: 375px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
            text-align: center;

            .action-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                .cta-button {
                    position: absolute;
                    bottom: 15px;
                    width: 90%;

                    button {
                        width: 100%;
                        background-color: $blue;
                        font-family: headline;
                        color: white;
                        padding: 5px;
                        padding-top: 10px;
                        font-size: 20px;
                        border: none;
                        border-bottom: 5px solid $hover-blue;
                        transition: background-color 0.3s;
                        cursor: pointer;

                        &:hover {
                            background-color: $hover-blue;
                        }

                        &.sponsor-button {
                            background-color: #48b148;
                            border-bottom-color: #327b32;

                            &:hover {
                                background-color: #327b32;
                            }
                        }
                    }
                }

                .action-content {
                    font-size: 20px;
                    font-family: normal;
                    text-align: left;
                    width: 80%;

                    margin-top: 15%;

                    &.sponsor-container {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }

                    .content-header {
                        color: $blue;
                    }

                    .content-text {
                        padding-left: 15px;
                        margin-bottom: 10%;

                        div {
                            padding: 5px;

                            b {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            img {
                width: 100px;
            }

            .join, .donate, .volunteer {
                width: 95%;
                height: 800px;
                padding-top: 50px;
                text-align: center;

                .action-header {
                    font-family: headline;
                    font-size: 5vh;
                    color: black;
                }
            }

            .join {
                background-color: white;
            }

            .donate {
                background-color: #dde5eb;
            }

            .volunteer {
                background-color: white;
            }
        }
    }

    &.show {
        .header {
            opacity: 1;
            transform: translateY(0vw);
        }
    }
}