#mission-statement {
    height: 225px;
    background-image: linear-gradient(white, transparent), url('../../assets/images/what-the-hex.png');
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    position: relative;
    width: 100vw;
  
    .label {
      font-family: headline;
      font-size: 3vh;
      padding-left: 5vw;
  
      opacity: 0;
      transition: opacity 0.3s 0.15s;
    }
  
    .title {
      font-family: headline;
      font-size: 9vh;
      letter-spacing: 2px;
      padding-left: 5vw;
      line-height: 0.9;
  
      opacity: 0;
      transform: translateX(-15px);
      transition: opacity 1.2s 0.4s, transform 1.2s 0.4s;
    }
  
    &.show {
      .label {
        opacity: 1;
        z-index: 2;
      }
  
      .title {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }